version: '3.8'

services:
  go-short:
    image: jianboo/go-short:latest
    container_name: go-short
    ports:
      - "8100:8080"
    environment:
      - BASE_PATH=
      - DOMAIN=
      - API_KEY=
      - CODE_LENGTH=4
    volumes:
      - go_short_data:/app/data
    restart: unless-stopped

volumes:
  go_short_data:
    driver: local
